include ./_mixins.jade
doctype HTML
html(lang="en")
  head
    title Weather Thing
    meta(name="description" content="The Weather Thing")
    meta(name="author" content="Cian Mac Mahon")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js")
    script(src="js/functions.js")
    link(rel="stylesheet" href="styles/select-theme-default.css")
    script(src="js/select.min.js")
    link(rel="stylesheet" href="styles/main.css")
  body
    .container
      +forecastBlock(1)
      +forecastBlock(2)
    script.
      // setup Selects
      Select.init();

      var select1 = new Select({
          el: document.getElementById("locationSelectForm1")
        });

      var select2 = new Select({
          el: document.getElementById("locationSelectForm2")
        });

      select1.on("change", function(){
        getWeatherByCity(this.value, 1, buildWeather);
      });
      select2.on("change", function(){
        getWeatherByCity(this.value, 2, buildWeather);
      })
