include ./_mixins.jade
doctype HTML
html(lang="en")
  head
    title Weather Thing
    meta(name="description" content="The Weather Thing")
    meta(name="author" content="Cian Mac Mahon")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="styles/select-theme-default.css")
    link(rel="stylesheet" href="styles/main.css")
    script(src="js/select.min.js")
  body
    .container
      .forecasts
        +forecastBlock(1)
        +forecastBlock(2)
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js")
    script(src="js/min/functions-min.js")
    script(src="js/min/modernizr-min.js")
