//globals for weather forecast area
$screen-sm-min: 768px;
$screen-md-min: 992px;


html, body {
  height: 100%;
}

.forecasts {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: block;
  position: absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;

  .weatherForecast {
    min-height: 380px;
    position: relative;
    background-size: cover;

    @media (min-width: $screen-sm-min){
      width: 50%;
      float: left;
      height: auto;
      position: absolute;
      top:0;
      bottom: 0;
      display: block;
    }

    .forecastContainer {
      max-width: 600px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: $screen-sm-min){
        margin-top: 20%;
      }

      @media (min-width: $screen-md-min) {
        margin-top: 25%;
        font-size: 1.5em;
      }

    }

  }

}

.locationTitle {
  padding: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  // fallback for browsers which don't support opacity
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.5);
  color: black;

  @media (min-width: $screen-sm-min){
    font-size: 2.5em;
  }

  @media (min-width: $screen-md-min) {
    font-size: 3em;
  }


}

.bottomBar {
  width: 100%;
  min-height: 55px;
  background-color: rgb(50, 50, 200);
  position: absolute;
  bottom: 0;
}

.conditions {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}

.forecastBlock {
  margin-left: auto;
  margin-right: auto;

  >div {
    float: left;
  }

  .degrees {
    margin-top: 40px;
    width: 40%;
    font-size: 4em;
    text-align: center;
  }

  .summary {
    margin-top: 40px;
    padding-left: 10px;
    font-weight: bold;
    width: 50%;
    .fullForecast {
      margin-top: 20px;

      a {
        color: white;
        font-style: italic;
      }
    }
  }

}

// individual forecast boxes

#forecast1 {
  @include forecastimage("/images/calm.jpg");
  @media (min-width: $screen-sm-min){

    left:0;

  }
}

#forecast2 {
  @include forecastimage("/images/calm.jpg");
@media (min-width: $screen-sm-min){

  right:0;

}}



// Select box

.select-content {
  @media (min-width: $screen-md-min) {
    width: 400px;
  }

}

.locationSelect {
  text-align: center;
  margin-top: 25px;
  border: none;

  .select-target.select-theme-default {
    min-width: 200px;
    text-align: left;
    border: none;
    padding-right: 0px;

    @media (min-width: $screen-md-min) {
      width: 400px;
    }


    b {
      background-color: rgb(50, 50, 200);
      right: 0em;
      height: 100%;
      width: 35px;
      @include background-image(url("/images/arrow.png"));
      background-position: center;
      background-repeat: no-repeat;
      &:after,
      &:before {
        display: none;
      }

    }


  }

}
