//globals for weather forecast area

.weatherForecast {
  width: 100%;
  min-height: 380px;
  margin-bottom: 10px;
  position: relative;

  .locationTitle {
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    // fallback for browsers which don't support opacity
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);

  }

  .bottomBar {
    width: 100%;
    position: absolute;
    min-height: 55px;
    background-color: rgb(50, 50, 200);
    bottom: 0;
  }

  .conditions {
    margin-top: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

}

// individual forecast boxes

#forecast1 {
  @include forecastimage("/images/stormy.jpg");

}

#forecast2 {
  @include forecastimage("/images/calm.jpg");
}


// Forecast details

.forecastBlock {

  >div {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    padding: 5px;
    color: white;
    font-weight: bold;
  }

  .degrees {
    width: 30%;
    font-size: 3.5em;
    text-align: center;
  }

  .summary {
    width: 50%;
    .fullForecast {
      margin-top: 25px;

      a {
        font-weight: lighter;
        font-style: italic;
        color: white;
      }

    }
  }

}

// Select box

.locationSelect {
  text-align: center;
  margin-top: 25px;
  border: none;
  .select-target.select-theme-default {
    min-width: 200px;
    text-align: left;
    border: none;
    padding-right: 0px;

    b {
      background-color: rgb(50, 50, 200);
      right: 0em;
      height: 100%;
      width: 35px;
      @include background-image(url("/images/arrow.png"));
      background-position: center;
      background-repeat: no-repeat;
      &:after,
      &:before {
        display: none;
      }

    }


  }

}
